<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yi10bio.mall.mapping.user.UserAgreementMapper" >
  <resultMap id="BaseResultMap" type="com.yi10bio.mall.model.user.UserAgreement" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="agreement_id" property="agreementId" jdbcType="INTEGER" />
    <result column="agreement_name" property="agreementName" jdbcType="VARCHAR" />
    <result column="agree_date" property="agreeDate" jdbcType="TIMESTAMP" />
    <result column="app_code" property="appCode" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, agreement_id, agreement_name, agree_date, app_code, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user_agreement
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user_agreement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yi10bio.mall.model.user.UserAgreement" >
    insert into t_user_agreement (id, user_id, agreement_id, 
      agreement_name, agree_date, app_code, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{agreementId,jdbcType=INTEGER}, 
      #{agreementName,jdbcType=VARCHAR}, #{agreeDate,jdbcType=TIMESTAMP}, #{appCode,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yi10bio.mall.model.user.UserAgreement" >
    insert into t_user_agreement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="agreementId != null" >
        agreement_id,
      </if>
      <if test="agreementName != null" >
        agreement_name,
      </if>
      <if test="agreeDate != null" >
        agree_date,
      </if>
      <if test="appCode != null" >
        app_code,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="agreementId != null" >
        #{agreementId,jdbcType=INTEGER},
      </if>
      <if test="agreementName != null" >
        #{agreementName,jdbcType=VARCHAR},
      </if>
      <if test="agreeDate != null" >
        #{agreeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="appCode != null" >
        #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yi10bio.mall.model.user.UserAgreement" >
    update t_user_agreement
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="agreementId != null" >
        agreement_id = #{agreementId,jdbcType=INTEGER},
      </if>
      <if test="agreementName != null" >
        agreement_name = #{agreementName,jdbcType=VARCHAR},
      </if>
      <if test="agreeDate != null" >
        agree_date = #{agreeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="appCode != null" >
        app_code = #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yi10bio.mall.model.user.UserAgreement" >
    update t_user_agreement
    set user_id = #{userId,jdbcType=INTEGER},
      agreement_id = #{agreementId,jdbcType=INTEGER},
      agreement_name = #{agreementName,jdbcType=VARCHAR},
      agree_date = #{agreeDate,jdbcType=TIMESTAMP},
      app_code = #{appCode,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>